* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

}

body {
  background-color: #d6d6d6;
}

header {
  background-color: #C1C1C1;
  color: white;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #131921;
}

.logo {
  height: 40px;
  margin-right: 10px;
}

.left-section {
  display: flex;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.location a {
  color: #00aaff;
  font-weight: bold;
  text-decoration: none;
}

.search-bar {
  flex: 1;
  display: flex;
  margin: 0 20px;
}

.search-bar select {
  padding: 10px;
  border: none;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
}

.search-bar button {
  background-color: #febd69;
  border: none;
  padding: 0 15px;
}

.search-bar button img {
  width: 20px;
  height: 20px;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 12px;
}

.lang img {
  width: 20px;
  margin-right: 5px;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart img {
  width: 25px;
  filter: invert(1);
}

.sub-nav {
  background-color: #232f3e;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
}

.sub-nav a,
.menu {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.promo {
  margin-left: auto;
  color: #00ffcc;
}

.scroll {
  overflow-x: scroll;
  overflow-y: hidden;
  /* position:absolute; */
  display: flex;
  margin: 5px;
  margin-top: 0%;
}

.scroll img {
  height: 520px;
}

/* .banner{
  /* display: flex; */
/* position: relative; */
/* }  */

.bdiv1 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 2%;
  top: 50;
}

.bdiv1 h2 {
  color: #131921;
  /* position: relative; */
  display: flex;
  position: absolute;
  font-size: 16px;
  font-family: "Amazon Ember", Arial, sans-serif;
  left: 5%;

}

.bdiv2 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 27%;
}

.bdiv3 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 52%;
}

.bdiv4 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 76%;

}

.b {
  /* background-color: #000000; */
  top: 50%;
  position: absolute;
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
}


.b .bdiv1 h2 {
  margin-top: 10px;
  line-height: 27.3px
}

.b .bdiv1 .bs {
  /* background-color: aquamarine; */
  position: absolute;
  top: 30px;
  height: 120px;
  width: 100%;
}

.b .bdiv1 .bs .bs1 {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bs1 img {
  height: 90px;
  width: 120px;
}

.bs1 p {
  color: #0f1111;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.bs1 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  left: 55%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.b .bdiv1 .bs2 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 145px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.bs2 img {
  height: 90px;
  width: 120px;
}

.bs2 p {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;

  line-height: 18px
}

.bs2 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;

  width: 50%;
  left: 55%;
  line-height: 18px
}

.b .bdiv1 a {
  color: #131921;
  text-decoration: none;
  position: absolute;
  top: 310px;
  color: #2162a1;
  font-size: 10px;
  left: 5%;
  line-height: 18px
}




.b .bdiv2 h2 {
  color: #131921;
  font-size: 15px;
  left: 5%;
  font-family: "Amazon Ember", Arial, sans-serif;
  position: absolute;
  margin-top: 10px;
  /* line-height: 27.3px */

}

.b .bdiv2 .bs2 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 30px;
  height: 120px;
  width: 100%;
}

.b .bdiv2 .bs2 .bs3 {
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bs3 img {
  height: 90px;
  width: 120px;
}

.bs3 p {
  color: #0f1111;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.bs3 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  left: 55%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.b .bdiv2 .bs4 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 145px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.bs4 img {
  height: 90px;
  width: 120px;
}

.bs4 p {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;

  line-height: 18px
}

.bs4 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;

  width: 50%;
  left: 55%;
  line-height: 18px
}

.b .bdiv2 a {
  color: #131921;
  text-decoration: none;
  position: absolute;
  top: 310px;
  color: #2162a1;
  font-size: 10px;
  left: 5%;
  line-height: 18px
}




.b .bdiv3 h2 {
  color: #131921;
  font-size: 15px;
  left: 5%;
  font-family: "Amazon Ember", Arial, sans-serif;
  position: absolute;
  margin-top: 10px;
  /* line-height: 27.3px */

}

.b .bdiv3 .bs3 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 30px;
  height: 120px;
  width: 100%;
}

.b .bdiv3 .bs3 .bs5 {
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bs5 img {
  height: 90px;
  width: 120px;
}

.bs5 p {
  color: #0f1111;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.bs5 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  left: 55%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.b .bdiv3 .bs6 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 145px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.bs6 img {
  height: 90px;
  width: 120px;
}

.bs6 p {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;

  line-height: 18px
}

.bs6 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;

  width: 50%;
  left: 55%;
  line-height: 18px
}

.b .bdiv3 a {
  color: #131921;
  text-decoration: none;
  position: absolute;
  top: 310px;
  color: #2162a1;
  font-size: 10px;
  left: 5%;
  line-height: 18px
}






.b .bdiv4 h2 {
  color: #131921;
  font-size: 15px;
  left: 5%;
  font-family: "Amazon Ember", Arial, sans-serif;
  position: absolute;
  margin-top: 10px;
  /* line-height: 27.3px */

}

.b .bdiv4 .bs4 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 30px;
  height: 120px;
  width: 100%;
}

.b .bdiv4 .bs4 .bs7 {
  margin-top: 6%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bs7 img {
  height: 90px;
  width: 120px;
}

.bs7 p {
  color: #0f1111;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.bs7 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  left: 55%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}

.b .bdiv4 .bs8 {
  /* background-color: aquamarine; */
  position: absolute;
  top: 145px;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.bs8 img {
  height: 90px;
  width: 120px;
}

.bs8 p {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  width: 50%;
  right: 46%;
  font-family: "Amazon Ember", Arial, sans-serif;

  line-height: 18px
}

.bs8 p2 {
  color: #131921;
  position: absolute;
  top: 115px;
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;

  width: 50%;
  left: 55%;
  line-height: 18px
}

.b .bdiv4 a {
  /* color: #131921; */
  text-decoration: none;
  position: absolute;
  top: 310px;
  color: #2162a1;
  font-size: 10px;
  left: 5%;
  line-height: 18px
}


/* scroll2 start */

.scroll2 {
  height: 250px;
  width: 1190px;
  background-color: white;
  position: relative;
  margin: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
  top: 10%;
}

.sh2 {
  background-color: white;
  height: 40px;
  width: 100%;
  position: absolute;
  display: flex;
}

.sh2 h2 {
  color: #0f1111;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 10px;
}

.scroll2 img {
  height: 180px;
  margin-top: 4%;
}




/* b2 */





.b2 {
  /* background-color: #000000; */
  top: 920px;
  position: absolute;
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
}

.b2div1 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 2%;
  top: 50;
}

.b2div2 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 27%;
}

.b2div3 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 52%;
}

.b2div4 {
  background-color: #FFFFFF;
  height: 330px;
  width: 270px;
  position: absolute;
  display: flex;
  left: 76%;

}

.b2div1 h2 {
  color: #0f1111;
  display: flex;
  font-size: 18px;
  margin-top: 13px;
  margin-left: 10px;
}

.b2 .b2div1 .watchscroll {
  background-color: #00aaff;
  height: 150px;
  width: 100%;
  /* display: flex; */
  top: 27%;
  position: absolute;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
}

.b2div1 p {
  color: #0f1111;
  display: flex;
  position: absolute;
  top: 250px;
  font-size: 11px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin: 10px;


}

.b2div1 p2 {
  position: absolute;
  top: 292px;
  margin: 10px;
  margin-top: 0;
  font-size: 18px;
  font-family: "Amazon Ember", Arial, sans-serif;

}

.b2div1 p3 {
  position: absolute;
  top: 298px;
  margin: 10px;
  margin-top: 0;
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-left: 75px;
  color: #565959;
}

.b2div2 h2 {
  color: #0f1111;
  display: flex;
  font-size: 18px;
  margin-top: 13px;
  margin-left: 10px;
}

.b2 .b2div2 .b2div2_1 {
  /* color: #00ffcc; */
  height: 100px;
  width: 100%;
  top: 20%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.b2 .b2div2 .b2div2_1 img {
  /* display: flex; */
  height: 90px;
  width: 90px;
  /* position: absolute; */
}

.b2 .b2div2 .b2div2_2 {
  /* color: #00ffcc; */
  height: 100px;
  width: 100%;
  top: 60%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.b2 .b2div2 .b2div2_2 img {
  display: flex;
  height: 90px;
  width: 90px;
  /* position: absolute; */
}

.b2 .b2div2 a {
  color: #131921;
  text-decoration: none;
  position: absolute;
  top: 310px;
  color: #2162a1;
  font-size: 10px;
  left: 5%;
  font-family: "Amazon Ember", Arial, sans-serif;

  line-height: 18px
}


.b2div3 h2 {
  color: #0f1111;
  display: flex;
  font-size: 18px;
  margin-top: 13px;
  margin-left: 10px;
}

.b2 .b2div3 .b2div3_1 {
  /* color: #00ffcc; */
  height: 100px;
  width: 100%;
  top: 20%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.b2 .b2div3 .b2div3_1 img {
  /* display: flex; */
  height: 90px;
  width: 90px;
  /* position: absolute; */
}

.b2 .b2div3 .b2div3_2 {
  /* color: #00ffcc; */
  height: 100px;
  width: 100%;
  top: 60%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.b2 .b2div3 .b2div3_2 img {
  display: flex;
  height: 90px;
  width: 90px;
  /* position: absolute; */
}

.b2 .b2div3 a {
  color: #2162a1;
  text-decoration: none;
  position: absolute;
  top: 310px;
  color: #2162a1;
  font-size: 10px;
  left: 5%;
  font-family: "Amazon Ember", Arial, sans-serif;
  line-height: 18px
}
.b2div4 h2 {
  color: #0f1111;
  display: flex;
  font-size: 18px;
  margin-top: 13px;
  margin-left: 10px;
}
.b2div4 img{
  display: flex;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 90px;
  left: 20%;
}
.b2div4 p {
  color: #0f1111;
  display: flex;
  position: absolute;
  top: 250px;
  font-size: 11px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin: 10px;


}
.b2div4 p2 {
  position: absolute;
  top: 292px;
  margin: 10px;
  margin-top: 0;
  font-size: 18px;
  font-family: "Amazon Ember", Arial, sans-serif;

}

.b2div4 p3 {
  position: absolute;
  top: 298px;
  margin: 10px;
  margin-top: 0;
  font-size: 10px;
  font-family: "Amazon Ember", Arial, sans-serif;
  margin-left: 75px;
  color: #565959;
}
